<nav [ngStyle]="styles">
  <div class="left">
    <ng-to-home></ng-to-home>
    <input type="text" placeholder="搜索" id="search">
    <div id="search-for"><i class="anticon anticon-search"></i></div>
  </div>
  <div *ngIf="login" class="right">
    <ng-avatar [src]="'/assets/grasfish.png'" [userId]="1"></ng-avatar>
    <nz-dropdown [nzPlacement]="'bottomCenter'">
      <nz-badge [nzOverflowCount]="99" [nzCount]="messagesCount" nz-dropdown>
        <div class="message" [routerLink]="['/message']">消息</div>
      </nz-badge>
      <ul nz-menu class="menu" style="width: 100px">
        <li *ngFor="let text of texts;let i = index"
            nz-menu-item
            style="text-align: center"
            [routerLink]="['/message']"
            [queryParams]="{select:i}">
          <nz-badge [nzOverflowCount]="99" [nzCount]="counts[i]"
                    style="width:40px;height: 30px;line-height: 30px;">
            <div class="text">{{text}}</div>
          </nz-badge>
        </li>
      </ul>
    </nz-dropdown>
    <ng-button style="margin-left: 20px" class="d-none d-sm-block">写文章</ng-button>
    <ng-button style="margin-left: 15px" class="d-sm-none d-block"><i class="anticon anticon-edit"></i></ng-button>
  </div>
  <div *ngIf="!login" class="right">
    <ng-button type="border" (click)="to('access/login')" class="d-none d-sm-block">登录</ng-button>
    <ng-button style="margin-left: 20px" (click)="to('access/register')" class="d-none d-sm-block">注册</ng-button>
    <ng-button type="border" (click)="to('access/login')" class="d-sm-none d-block"><i class="anticon anticon-select"></i></ng-button>
    <ng-button style="margin-left: 15px" (click)="to('access/register')" class="d-sm-none d-block"><i class="anticon anticon-profile"></i></ng-button>
  </div>
</nav>
