<nav [ngStyle]="styles">
  <div class="left">
    <ng-to-home></ng-to-home>
    <input type="text" placeholder="搜索" id="search">
  </div>
  <div *ngIf="login" class="right">
    <ng-avatar [src]="'/assets/grasfish.png'"></ng-avatar>
    <nz-dropdown [nzPlacement]="'bottomCenter'">
      <nz-badge [nzOverflowCount]="99" [nzCount]="messagesCount" nz-dropdown>
        <div class="message" [routerLink]="['/message']">消息</div>
      </nz-badge>
      <ul nz-menu class="menu" style="width: 100px">
        <li *ngFor="let text of texts;let i = index"
            nz-menu-item
            style="text-align: center"
            [routerLink]="['/message']"
            [queryParams]="{select:i}">
          <nz-badge [nzOverflowCount]="99" [nzCount]="counts[i]"
                    style="width:40px;height: 30px;line-height: 30px;">
            <div class="text">{{text}}</div>
          </nz-badge>
        </li>
      </ul>
    </nz-dropdown>
    <ng-button style="margin-left: 20px" *ngIf="innerWidth>=768">写文章</ng-button>
    <ng-button style="margin-left: 15px" *ngIf="innerWidth<768"><i class="anticon anticon-edit"></i></ng-button>
  </div>
  <div *ngIf="!login" class="right">
    <ng-button type="border" (click)="to('access/login')">登录</ng-button>
    <ng-button (click)="to('access/register')">注册</ng-button>
  </div>
</nav>
